@{
    ViewData["Title"] = "Divine";
}
@model sailwithdivine.com.Models.Boat.BoatViewModel;

<div class="img-header">
    <div class="img-header__image" style="background-image:url('../Content/Boat/boat-stern.jpg')"></div>
    <div class="img-header__text-container">
        <h1>@Model.Title</h1>
        <p>@Model.Subtitle</p>
    </div>
</div>

<div class="overlap__container">
    <div class="content overlap__content">
        <div class="overlap__text-container">
            <h2>@Model.OverlapTitle</h2>
            @Html.Raw(Model.OverlapText)
        </div>
        <div class="overlap__image" style="background-image:url('../Content/Boat/front-view.jpg')">
        </div>
    </div>
</div>

<div class="content">

    <h2 class="boat__interior-title">@Model.InteriorTitle</h2>
    <p class="boat__interior-text">@Model.InteriorText</p>

    <div class="boat__interior-slide">
        <div class="carousel">
            <nav></nav>
            <div class="container">
                @foreach (var src in Model.ImageUrls)
                {
                <div class="slide">
                    <img src="@src" class="card__img">
                </div>
                }
            </div>
        </div>
    </div>


    <div class="card__container card__container--hide-mobile">
        @foreach (var src in Model.ImageUrls)
        {
            <div class="card__item">
                <div class="card__item-container">
                    <div class="overlay-gradiant"></div>
                    <div class="card__img-holder">
                        <img alt="@src" src="@src" class="card__img" />
                    </div>
                </div>
            </div>
        }

    </div>

    <h2 class="boat__layout-title">@Model.LayoutTitle</h2>
    <p class="boat__layout-text">@Model.LayoutText</p>
    <div class="boat__layout-img-container">
        <img class="boat__layout-img" alt="layout" src="~/Content/Boat/layout-inside.png" />
    </div>

</div>


<div class="boat__equipment-container">
    <h2 class="boat__equipment-title">@Model.EquipmentTitle</h2>

    <div class="content boat__equipment-content">

        <div class="boat__equipment-item">
            <svg class="icon icon-signal"><use xlink:href="#icon-signal"></use></svg>
            <span>@Model.IconSignal</span>
        </div>

        <div class="boat__equipment-item">
            <svg class="icon icon-autopilot"><use xlink:href="#icon-autopilot"></use></svg>
            <span>@Model.IconAutopilot</span>
        </div>

        <div class="boat__equipment-item">
            <svg class="icon icon-radar"><use xlink:href="#icon-radar"></use></svg>
            <span>@Model.IconRadar</span>
        </div>

        <div class="boat__equipment-item">
            <svg class="icon icon-map"><use xlink:href="#icon-map"></use></svg>
            <span>@Model.IconMap</span>
        </div>

        <div class="boat__equipment-item">
            <svg class="icon icon-solar-panel"><use xlink:href="#icon-solar-panel"></use></svg>
            <span>@Model.IconSolar</span>
        </div>

        <div class="boat__equipment-item">
            <svg class="icon icon-fire-extinguisher"><use xlink:href="#icon-fire-extinguisher"></use></svg>
            <span>@Model.IconFire</span>
        </div>

        <div class="boat__equipment-item">
            <svg class="icon icon-automation"><use xlink:href="#icon-automation"></use></svg>
            <span>@Model.IconEngine</span>
        </div>

        <div class="boat__equipment-item">
            <svg class="icon icon-grill"><use xlink:href="#icon-grill"></use></svg>
            <span>@Model.IconGrill</span>
        </div>

        <div class="boat__equipment-item">
            <svg class="icon icon-fridge"><use xlink:href="#icon-fridge"></use></svg>
            <span>@Model.IconFridge</span>
        </div>

        <div class="boat__equipment-item">
            <svg class="icon icon-freezer"><use xlink:href="#icon-freezer"></use></svg>
            <span>@Model.IconFreezer</span>
        </div>

        <div class="boat__equipment-item">
            <svg class="icon icon-life-raft"><use xlink:href="#icon-life-raft"></use></svg>
            <span>@Model.IconLifeRaft</span>
        </div>

        <div class="boat__equipment-item">
            <svg class="icon icon-sea-transportation"><use xlink:href="#icon-sea-transportation"></use></svg>
            <span>@Model.IconInflatable</span>
        </div>

        <div class="boat__equipment-item">
            <svg class="icon icon-fishing"><use xlink:href="#icon-fishing"></use></svg>
            <span>@Model.IconFishing</span>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="boat__hero-container col-sm-12">
            <img class="boat__hero-img" src="~/Content/Boat/boat.jpg" alt="Sailwithdivine" />
        </div>
        <div class="col-sm-12">
            <p>
                Divine is a swedish 45 feet sailing boat of the model Diva 451, constructed by Bernt Lindquist.
                The boat was taken into the sea for the first time at 1999, and was built at the request by a charter company in Germany.
                It then got sold to the previous owner in Sweden.
                Divine is very special built with maximal spacing below deck with a total of ten beds in five cabins.
                Where two of the cabins are bunk beds, and the rest are double beds.
                To be able to get the spacing below deck they built Divine with two cockpits. The stern cockpit is where all the
                sailing happens, and the central cockpit is solely for pleasure, in Sweden we call it "the mother-in-law cockpit".
                The boat is built in fiberglass laminate with a forebody reinforced with kevlar.
                The keel is made of lead and attached to a steel body that is armored with fiberglass together with the hull.
                All this to make it as homogeneous and strong as possible.
            </p>
        </div>
    </div>

    <h2 class="text-center">Kitchen</h2>
    <div class="row">
        <div class="boat__item-solo-container col-sm-12">
            <img class="boat__item-img" src="~/Content/Boat/kitchen1024.jpg" alt="Sailwithdivine" />
        </div>
    </div>

    <h2 class="text-center">Salon</h2>
    <div class="row">
        <div class="boat__item-container col-sm-6">
            <img class="boat__item-img" src="~/Content/Boat/salon1.jpg" alt="Sailwithdivine" />
        </div>
        <div class="boat__item-container col-sm-6">
            <img class="boat__item-img" src="~/Content/Boat/salon2.jpg" alt="Sailwithdivine" />
        </div>
    </div>

    <h2 class="text-center">Bow cabin</h2>
    <div class="row">
        <div class="boat__item-container col-sm-6">
            <img class="boat__item-img" src="~/Content/Boat/bowcabin1.jpg" alt="Sailwithdivine" />
        </div>
        <div class="boat__item-container col-sm-6">
            <img class="boat__item-img" src="~/Content/Boat/bowcabin2.jpg" alt="Sailwithdivine" />
        </div>
    </div>

    <h2 class="text-center">Stern cabin starboard</h2>
    <div class="row">
        <div class="boat__item-container col-sm-6">
            <img class="boat__item-img" src="~/Content/Boat/sterncabinstarboard1.jpg" alt="Sailwithdivine" />
        </div>
        <div class="boat__item-container col-sm-6">
            <img class="boat__item-img" src="~/Content/Boat/sterncabinstarboard2.jpg" alt="Sailwithdivine" />
        </div>
    </div>

    <h2 class="text-center">Stern cabin port</h2>
    <div class="row">
        <div class="boat__item-container col-sm-6">
            <img class="boat__item-img" src="~/Content/Boat/sterncabinport1.jpg" alt="Sailwithdivine" />
        </div>
        <div class="boat__item-container col-sm-6">
            <img class="boat__item-img" src="~/Content/Boat/sterncabinport2.jpg" alt="Sailwithdivine" />
        </div>
    </div>

    <h2 class="text-center">Bunkbed in passage</h2>
    <div class="row">
        <div class="boat__item-container col-sm-6">
            <img class="boat__item-img" src="~/Content/Boat/bunkbedpassage.jpg" alt="Sailwithdivine" />
        </div>
        <div class="boat__item-container col-sm-6">
            <img class="boat__item-img" src="~/Content/Boat/bunkbedpassage2.jpg" alt="Sailwithdivine" />
        </div>
    </div>

    <h2 class="text-center">Bunkbed next to salon</h2>
    <div class="row">
        <div class="boat__item-container col-sm-4">
            <img class="boat__item-img" src="~/Content/Boat/bunkbedsalon.jpg" alt="Sailwithdivine" />
        </div>
        <div class="boat__item-container col-sm-4">
            <img class="boat__item-img" src="~/Content/Boat/bunkbedsalon2.jpg" alt="Sailwithdivine" />
        </div>
        <div class="boat__item-container col-sm-4">
            <img class="boat__item-img" src="~/Content/Boat/bunkbedsalon3.jpg" alt="Sailwithdivine" />
        </div>
    </div>

    <h2 class="text-center">Stern toilet</h2>
    <div class="row">
        <div class="boat__item-solo-container col-sm-12">
            <img class="boat__item-img" src="~/Content/Boat/toilet1024-1.jpg" alt="Sailwithdivine" />
        </div>
    </div>

    <h2 class="text-center">Toilet and shower</h2>
    <div class="row">
        <div class="boat__item-solo-container col-sm-12">
            <img class="boat__item-img" src="~/Content/Boat/toilet1024-2.jpg" alt="Sailwithdivine" />
        </div>
    </div>*@

